body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

button {
    margin-left:5px;
    margin-right:5px;
    padding: 5px;
}

.container {
    width: 400px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.full {
    width: 100%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.bcell {
    text-align: center;
}

.bheader {
    padding:5px;
}